<!DOCTYPE html>
<html>

<head>
  <title>Tormos | Sign-Up!</title>
  <html lang="es" xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="img/home.ico" />
</head>

<body>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/"> <img class="navbar-brand" src="img/home.png" alt="Home" width="100" height="100"></a>
          <ul class="nav navbar-nav">
            <li> <a href="/">Home</a></li>
            <li class="active"><a href="/login">Login</a></li>
          </ul>
        </div>
    </nav>
  </header>
  <main>
    <div class="login">
      <div class="login-header">
        <h1>Sign Up!</h1>
      </div>
      <div class="login-form">
        <form th:action="@{/sign-up}" method="post">
          <div class="alert alert-danger" th:style="'visibility:'+${visible}"role="alert" th:text="${error}"></div>
          <h3 class="text-center">Email:</h3>
          <input type="email" placeholder="Correo" name="email" />
          <br>
          <h3>Nombre:</h3>
          <input type="text" placeholder="Nombre" name="nombre" />
          <br>
          <h3>Password:</h3>
          <input type="password" placeholder="Password" name="password" />
          <br>
          <h3>Repite la contraseña:</h3>
          <input type="password" placeholder="Password" name="passwordConfirm" />
          <br>
          <button type="submit" class="login-button">Registrate</button>
          <br>
          <a class="sign-up" href="/login">Ya tienes cuenta</a>
          <br>
          
        </form>
      </div>
    </div>
  </main>
  <footer class="text-light bg-dark blockquote-footer fixed-bottom" style="margin-bottom: -20px;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <p>Creado por Aarón 2020 </p>
    </div>
  </footer>
</body>

</html>